

/* 通用 */
body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: none;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
		margin-top: -30px;
    }
    40% {
        opacity: 1;
		margin-top: 0;
    }
}

@font-face {
	font-family: 'font1';
	src: url('../font/font1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'font2';
	src: url('../font/font2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'font1';
    color: rgb(0, 29, 103);
}
* {
	font-family: 'font2';
}

a {
    transition: all 0.2s;
    text-decoration: none;
}

.top {
    padding: 35px 30px 0px 30px;
    background-color: rgba(88, 193, 249, 0.643);
    box-shadow: 0px 3px 15px rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(8px);
    position: -webkit-sticky;
	position: sticky;
	top: -107px;
	z-index: 999;
}
.top hr {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.top img {
    height: 60px;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.top-nav a {
    color: white;
    font-size: 18px;
    padding: 20px;
}
.top-nav a:hover {
    background-color: #357e9d;
}
.top-nav a:active {
    background-color: #357e9d;
}
.top-nav .active {
    background-color: #317593;
}

.main {
    margin: 400px auto 50px auto;
    width: 80%;
}

.box {
    background-color: #6acef9ae;
    padding: 30px;
    box-shadow: 0px 3px 15px rgba(20, 20, 20, 0.6);
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}

.back-to-top {
    text-align: center;
    background-color: #b5eaffcb;
    width: 50px;
    margin: 10px 50px 20px auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-radius: 24px;
    box-shadow: 0px 3px 15px rgba(20, 20, 20, 0.6);
    transition: all 0.2s;
}
.back-to-top:hover {
    background-color: #7eacbecb;
}
.back-to-top a {
    width: 100%;
    padding: 12px 9px;
    color: black;
}
.back-to-top img {
    width: 100%;
}

.footer {
    background-color: #6acef991;
    box-shadow: 0px 3px 15px rgba(20, 20, 20, 0.6);
    font-size: 18px;
    text-align: center;
    padding: 20px;
}
.footer a {
    color: rgb(13, 60, 87);
}

.snow {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -999;
}


/* 首页 */
.index-content {
    padding: 45px 50px;
}
.index-content h2 {
    border-left: 10px solid rgba(0, 37, 131, 0.6);
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.music {
    margin: auto 0px;
    font-size: 15px;
    line-height: 3px;
    text-align: center;
    background-color: rgba(207, 206, 206, 0.7);
    border-radius: 25px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-me a {
    padding: 14px;
    line-height: 60px;
    background-color: rgba(164, 244, 255, 0.43);
    box-shadow: 0px 6px 5px rgba(90, 90, 90, 0.6);
    border: 3px solid rgba(78, 117, 246, 0.722);
    color: black;
    border-radius: 26px;
    font-size: 16px;
}
.about-me a:hover {
    color: whitesmoke;
    background-color: rgba(98, 132, 245, 0.722);
    box-shadow: 0px 10px 10px rgba(90, 90, 90, 0.7);
}
.about-me-gif img {
    width: 100%;
}
.poems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.git {
    width: 70%;
    margin: 30px;
    box-shadow: 6px 6px 10px rgba(90, 90, 90, 0.6);
}


/* 我的博客 */
.blog li {
    padding: 10px;
}
.blog a {
    color: blueviolet;
    font-size: 25px;
}
.blog a:hover {
    color: rgb(231, 242, 249);
}
.blog h2 {
    margin-top: 50px;
}
.blogs h3 {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: 5px solid rgba(1, 34, 165, 0.4);
}


/* 我的爱好 */
.hobby {
    text-align: center;
}
.hobby h1 {
    text-align: left;
}
.hobby li {
    text-align: left;
    font-size: 28px;
    margin-top: 50px;
}
.hobby img {
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    border: 6px solid rgb(255, 255, 255);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
.hobby img:hover {
    transform: scale(1.05);
}


/* 我的学校 */
.school {
    text-align: center;
}
.school h1 {
    text-align: left;
}
.school p {
    text-align: left;
}
.school h2 {
    text-align: center;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
    border-bottom: 5px solid rgba(1, 34, 165, 0.4);
}
.school img {
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    border: 6px solid rgb(255, 255, 255);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
.school img:hover {
    transform: scale(1.05);
}


/* 我的相册 */
.photos-main {
    margin: 100px 0px;
    width: 100%;
    height: 450px;
    display: flex;
}
.photo {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0px 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 6px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
.photo img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.photo:hover {
    flex-basis: 30%;
}
.photo:hover img {
    width: 100%;
    height: 100%;
}


/* 网址导航 */
.search {
    text-align: center;
    margin: 100px 0px;
}
.search-form {
    margin: auto;
    width: 560px;
    border-radius: 35px;
    padding: 6px;
    background-color: rgba(252, 252, 252, 0.883);
    box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.6);
    transition: all 0.2s;
}
.search-form:hover {
    box-shadow: 0px 7px 10px rgba(20, 20, 20, 0.6);
}
.search-text {
    width: 394px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid rgb(127, 192, 252);
    padding: 0px 20px;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0);
}
.search-submit {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid rgb(127, 192, 252);
    padding: 10px;
    margin-left: 8px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s;
}
.search-submit:hover {
    background-color: rgb(127, 192, 252);
    color: white;
}

.share .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px 0px;
}
.share .card {
    text-align: center;
    padding: 50px 10px;
    margin: 30px 0px;
    width: 250px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.605);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.share .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}
.share .card img {
    margin-bottom: 10px;
    width: 65px;
    border-radius: 10px;
}

.share .card-button .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
}
.share .card-button .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.share .card-button .button:hover {
    background-color: #000;
}
.share .card-button .button:hover .button__icon-wrapper {
    color: #000;
}
.share .card-button .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}
.share .card-button .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
}
.share .card-button .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
}





